@using Movie.web.Models
@model IEnumerable<Movie.web.Models.MovieModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="collapse pos-rlt navbar-collapse box-shadow">
            <ul class="nav navbar-nav hidden-sm">
                <li class="dropdown pos-stc open">
                    <a href="#" data-toggle="dropdown" class="menu-link bg-white-only  dropdown-toggle" aria-expanded="true">
                        <span>Filter By</span>
                    </a>
                </li>
                <li class="dropdown pos-stc open text-center">
                    <a href="#" id="lnkPrice" data-toggle="dropdown" class="menu-link bg-white-only dropdown-toggle" aria-expanded="true">
                        <span>Price</span>
                        <span id="spanPrice" class="caret"></span>
                    </a>
                </li>
                <li class="dropdown pos-stc open text-center">
                    <a href="#" id="lnkRating" data-toggle="dropdown" class="menu-link bg-white-only dropdown-toggle" aria-expanded="true">
                        <span>Rating</span>
                        <span id="spanRating" class="caret"></span>
                    </a>
                </li>
                <li class="dropdown pos-stc open text-center">
                    <a href="#" id="lnkVotes" data-toggle="dropdown" class="menu-link bg-white-only dropdown-toggle" aria-expanded="true">
                        <span>Votes</span>
                        <span id="spanVotes" class="caret"></span>
                    </a>
                </li>
                <li class="dropdown pos-stc open text-center">
                    <a href="#" id="lnkYear" data-toggle="dropdown" class="menu-link bg-white-only dropdown-toggle" aria-expanded="true">
                        <span>Year</span>
                        <span id="spanYear" class="caret"></span>
                    </a>
                </li>
                <li class="dropdown pos-stc open text-center">
                    <a href="#" id="lnkRunTime" data-toggle="dropdown" class="menu-link bg-white-only dropdown-toggle" aria-expanded="true">
                        <span>Run Time</span>
                        <span id="spanRunTime" class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- link and dropdown -->
        <!-- / link and dropdown -->
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>

<div id="moviesSection">
    @{Html.RenderPartial("MoviesView", Model == null ? new List<MovieModel>() : Model); }
</div>

<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Getting Movies...</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-12">
                        <img src="~/Content/images/loader.gif" width="150" height="150" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $lnkPrice = $('#lnkPrice');
    $spanPrice = $('#spanPrice')
    $lnkRating = $('#lnkRating');
    $spanRating = $('#spanRating');
    $movieSection = $('#moviesSection');
    $lnkVotes = $('#lnkVotes');
    $spanVotes = $('#spanVotes')
    $lnkYear = $('#lnkYear');
    $spanYear = $('#spanYear');
    $lnkRunTime = $('#lnkRunTime');
    $spanRunTime = $('#spanRunTime');

    var ascending = 'caret';
    var descending = 'caret-invert';
    $(document).ready(function () {
        var sortOrder = 0;
        loadMovies(sortOrder, 'Price');
    });

    $lnkPrice.click(function (evt) {
        evt.preventDefault();
        var order = 0;
        if ($spanPrice !== undefined) {
            if ($spanPrice.hasClass(ascending)) {
                $spanPrice.removeClass(ascending);
                $spanPrice.addClass(descending);
                order = 1;
            }
            else if ($spanPrice.hasClass(descending)) {
                $spanPrice.removeClass(descending);
                $spanPrice.addClass(ascending);
                order = 0;
            }
        }
        loadMovies(order, 'Price');
    });

    $lnkRating.click(function (evt) {
        evt.preventDefault();
        var order = 0;
        if ($spanRating !== undefined) {
            if ($spanRating.hasClass(ascending)) {
                $spanRating.removeClass(ascending);
                $spanRating.addClass(descending);
                order = 1;
            }
            else if ($spanRating.hasClass(descending)) {
                $spanRating.removeClass(descending);
                $spanRating.addClass(ascending);
                order = 0;
            }
        }
        loadMovies(order, 'Rating');
    });

    $lnkVotes.click(function (evt) {
        evt.preventDefault();
        var order = 0;
        if ($spanVotes !== undefined) {
            if ($spanVotes.hasClass(ascending)) {
                $spanVotes.removeClass(ascending);
                $spanVotes.addClass(descending);
                order = 1;
            }
            else if ($spanVotes.hasClass(descending)) {
                $spanVotes.removeClass(descending);
                $spanVotes.addClass(ascending);
                order = 0;
            }
        }
        loadMovies(order, 'Votes');
    });

    $lnkYear.click(function (evt) {
        evt.preventDefault();
        var order = 0;
        if ($spanYear !== undefined) {
            if ($spanYear.hasClass(ascending)) {
                $spanYear.removeClass(ascending);
                $spanYear.addClass(descending);
                order = 1;
            }
            else if ($spanYear.hasClass(descending)) {
                $spanYear.removeClass(descending);
                $spanYear.addClass(ascending);
                order = 0;
            }
        }
        loadMovies(order, 'Year');
    });

    $lnkRunTime.click(function (evt) {
        evt.preventDefault();
        var order = 0;
        if ($spanRunTime !== undefined) {
            if ($spanRunTime.hasClass(ascending)) {
                $spanRunTime.removeClass(ascending);
                $spanRunTime.addClass(descending);
                order = 1;
            }
            else if ($spanRunTime.hasClass(descending)) {
                $spanRunTime.removeClass(descending);
                $spanRunTime.addClass(ascending);
                order = 0;
            }
        }
        loadMovies(order, 'RunTime');
    });


    loadMovies = function (order, field) {
        var _url = '@Url.Action("SearchMovie", "Movies")' + '/' + order + '/' + field;
        var $memberModel = $("#memberModal");
        $.ajax({
            url: _url,
            beforeSend: function () {
                $memberModel.modal('show');
            },
            complete: function () {
                $memberModel.modal('hide');
            },
            success: function (data) {
                $movieSection.html(data);
            },
            error: function (error) {
                $memberModel.modal('hide');
            }
        });
    };

</script>